* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sofia-pro, sans-serif;
  --primary:#D1AE00;
  --secondary: #D1AE00;
  --outline: #ffffff;
  --background: #0B0B45;
  --border: rgb(220, 220, 220);
  --card-background: rgb(255, 255, 255);
}

main {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
}



h1 {
  font-size: 24px;
  font-weight: 600;
}



h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2px;
}

h5 {
  font-size: 12px;
  font-weight: 500;
}

p {
  margin: 0;
  opacity: .4;
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  text-align-last: center;
}

a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: fit-content;
  position: relative;
  padding: 36px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--card-background);
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

article section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

article>img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}

article * {
  z-index: 0;
}

section img {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 77px;
  background-color: var(--secondary);
}

nav {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  padding: 12px 20px;
  align-items: center;
  background: white;
  border-bottom: 1px solid rgb(200, 200, 200);
}

nav img {
  width: 50px;
}

nav ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
}

nav li {
  margin-left: 35px;
  text-align: right;
}

.list {
  min-height: fit-content;
  gap: 14px;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(1, 1fr);
}

@media only screen and (min-width: 900px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1500px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 414px) {
  nav ul {
    padding-left: 0px;
  }

  nav li {
    font-size: 15px;
  }
}